<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    <div class="page-content">
      <div class="wrapper">
        
        <!-- {% include header.html %} -->
        <section id="welcome">{% include welcome.html %}</section>
        <section class="snap" id="intro">{% include intro.html %}</section>
        <section class="snap" id="hobbies">{% include hobbies.html %}</section>
        <section class="snap" id="unicorn">{% include unicorn.html %}</section>
        <section class="snap" id="projets">{% include projects.html %}</section>
      </div>
    </div>

    {% include footer.html %}
    {% include scripts.html %}

  </body>

</html>
