<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
    <div id="portrait">
      <div class="wrapper">
        <p class="horizontal">Hi, to see my website</p>
        <p class="vertical">hold your device in a horizontal position.</p>
      </div>
    </div>
    <div id="mobile">
      <div class="wrap">
        <p>Hi, this website is not fully compatible with your device.</p>
        <p>You need to go bigger. The bigger the better.</p>
      </div>
    </div>
    <div id="posts" class="view snap">{% include posts.html %}</div>
    <div id="home" class="view snap">{% include home.html %}</div>
    <div id="works" class="view snap">{% include works.html %}</div> 
    {% include scripts.html %}

  </body>

</html>
