<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    <div class="page-content">
      <div class="wrapper">
        
        {% include header.html %}
        <section class="snap" id="welcome">{% include welcome.html %}</section>
        <section class="snap" id="hobbies">{% include hobbies.html %}</section>
        <section class="snap" id="unicorn">{% include unicorn.html %}</section>
        <section class="snap" id="portfolio">{% include portfolio.html %}</section>
        <section class="snap">{{ content }}</section>
      </div>
    </div>

    {% include footer.html %}
    {% include scripts.html %}

  </body>

</html>
