
<div class="hobbies">

  <div class="sectionHeader">
  	<h1>Things I Like</h1>
  </div>

  <div class="inner">
    <div class="infoSides left">
      <span><p>Volleyball</p></span>
      <span><p>Got</p></span>
      <span><p>Gaming With Friends</p></span>
    </div>
    <div class="infoCenter">
      <img src="./img/smiley.png">
    </div>
    <div class="infoSides right">
      <span><p>Grilling</p></span>
      <span><p>Creating AWESOME SHIT</p></span>
      <span><p><del>Whisky</del></p></span>
    </div>
	</div>
	
</div> 