
<div class="hobbies">

  <div class="sectionHeader">
  	<h1>Things I Like</h1>
  </div>

  <div class="inner">
    <div class="infoSides left">
      <span class="spare"><p>Volleyball</p></span>
      <span class="music"><p>90' Hip-Hop</p></span>
      <span class="spare"><p>Game of Thrones</p></span>
      <span class="design"><p>Code that works</p></span>
      <span class="food"><p>Coffee (black please)</p></span>
      <span class="music"><p>Jazz</p></span>
      <span class="design"><p>Apple & Microsoft</p></span>
    </div>
    <div class="infoCenter">
      <img src="./img/smiley.png">
    </div>
    <div class="infoSides right">
      <span class="food"><p>Being The Grillmaster</p></span>
      <span class="design"><p>Creating AWESOME SHIT</p></span>
      <span class="food"><p><del>Whisky</del></p></span>
      <span class="music"><p>Minimal</p></span>
      <span class="design"><p>Field Notes</p></span>
      <span class="spare"><p>Gaming With Friends</p></span>
    </div>
	</div>
	
</div> 