  <ul class="navLeft">
    <li><a href="#posts" class="hover" id="toPosts">B<br />L<br />O<br />G</a></li>
  </ul>

  <ul class="navRight">
    <li><a href="#works" class="hover" id="toWorks">W<br />O<br />R<br />K<br />S</a></li>
  </ul>
 

  <div class="panels">
    <section id="welcome">{% include welcome.html %}</section>
    <section class="snap" id="intro">{% include intro.html %}</section>
    <section class="snap" id="hobbies">{% include hobbies.html %}</section>
    <section class="snap" id="unicorn">{% include unicorn.html %}</section>
  </div>  