  <div class="face-container">
    <img src="./img/test3.png" class="face">
  </div>
  <div class="nav">
    <ul class="navLeft">
      <a href="#posts" class="hover"><li>b</li><li>l</li><li>o</li><li>g</li></a>
    </ul>
    <ul class="navRight">
      <a href="#works" class="hover"><li>w</li><li>o</li><li>r</li><li>k</li><li>s</li></a>
    </ul>
  </div>

  <div class="panels">
    <section id="welcome">{% include welcome.html %}</section>
    <section class="snap" id="intro">{% include intro.html %}</section>
    <section class="snap" id="hobbies">{% include hobbies.html %}</section>
    <section class="snap" id="unicorn">{% include unicorn.html %}</section>
  </div>  