  <div class="nav">
    <ul class="navLeft">
      <li><a href="#posts" class="hover">B<br />l<br />o<br />g</a></li>
    </ul>

    <ul class="navRight">
      <li><a href="#works" class="hover">W<br />o<br />r<br />k<br />s</a></li>
    </ul>
  </div>

  <div class="panels">
    <section id="welcome">{% include welcome.html %}</section>
    <section class="snap" id="intro">{% include intro.html %}</section>
    <section class="snap" id="hobbies">{% include hobbies.html %}</section>
    <section class="snap" id="unicorn">{% include unicorn.html %}</section>
  </div>  