
<div class="intro">
	<div class="sectionHeader">
		<h1>introduction</h1>
	</div>
	<div class="inner">
		<div class="infoSides left">
			<div class="spanWrapper">
				<div class="wrap">
					<h1>Hi, my name<span class="typed-cursor">|</span></h1>
					<p></p>
				</div>
				<div class="wrap">
					<h1>Born and<span class="typed-cursor">|</span></h1>
					<p></p>
				</div>
			</div>
		</div>
		<div class="infoCenter">
			<img src='./img/katheder.png'>
		</div>
		<div class="infoSides right">
			<div class="spanWrapper">
				<div class="wrap">
					<h1>Why I love<span class="typed-cursor">|</span></h1>
					<p></p>
				</div>
				<div class="wrap">
					<h1>Atm I<span class="typed-cursor">|</span></h1>
					<p></p>
				</div>
			</div>
		</div>
	</div>
</div>