
<div class="intro">
	<div class="sectionHeader">
		<h1>Introduction</h1>
	</div>
	<div class="inner">
		<div class="infoSides left">
			<div class="spanWrapper">
				<span><p>Hi, my name is Jerome Braeken, born in 1991.</p></span>
				<span><p>Born and raised in Maastricht. A city close to both Belgium and Germany.</p></span>
			</div>
		</div>
		<div class="infoCenter">
			<img src='./img/katheder.png'>
		</div>
		<div class="infoSides right">
			<div class="spanWrapper">
				<span><p>Why I love what I do? Creating things is like a drug to me. It's even worse when people like it.</p></span>
				<span><p>Atm I am studying CMD at Zuyd Hogeschool in Maastricht. Looking for a half year internship, starting from September.</p></span>
			</div>
		</div>
	</div>
</div>