<div class="nav"> 
<ul class="navRight">
  <li><a href="#home" class="hover">H<br />o<br />m<br />e</a></li>
</ul>
</div>

<div class="panels">
  <section id="sentio" data-panel="sentio"><p>hallo1</p></section>
  <section id="jokers" data-panel="jokers"><p>hallo2</p></section>
  <section id="participatie" data-panel="participation"><p>hallo3</p></section>
</div>

<div id="menu">
  <div class="header"><h1>Blog</h1></div>
  <div class="menu"> 
    <ul>
      <li>
        <a href data-panel="sentio" class="hover">Sentio</a>
      </li>
    </ul>
    <ul>
      <li>
        <a href data-panel="jokers" class="hover">Jokers Tournament</a>
      </li>
    </ul>  
    <ul>
      <li>
        <a href data-panel="participation" class="hover">Participation</a>
      </li>
    </ul>        
  </div>
</div>
