<div class="nav"> 
<ul class="navRight">
  <li><a href="#home" class="hover">H<br />o<br />m<br />e</a></li>
</ul>
</div>

<div id="menu">
  <div class="header"><h1>Blog</h1></div>
  <div class="menu"> 
    {% for post in site.posts %}
      <ul>
        <li>
          <a href data-panel="{{ post.hashtag }}" class="hover">{{ post.title }}</a>
        </li>
      </ul>
    {% endfor %}      
  </div>
</div>

  <div class="panels">
    {% for post in site.posts %}
      <section id="{{ post.hashtag }}" data-panel="{{ post.hashtag }}">{% include article.html %}</section>
    {% endfor%}
  </div>
