<!-- build:js(app) ./js/scripts.js -->
<script src="{{site.baseurl}}_bower_components/jquery/dist/jquery.js"></script>
<script src="{{site.baseurl}}_bower_components/panelsnap/jquery.panelSnap.js"></script>
<script src="./js/noframework.waypoints.min.js"></script>
<script src="./js/jquery.easing.min.js"></script>
<script src="./js/jquery.scrollstop.js"></script>
<script src="./js/jquery.scrollsnap.js"></script>
<script src="./js/typed.js"></script>
<script src="./js/jrom.js"></script>
<!-- endbuild -->
<script type="text/javascript">

$(document).ready(function() {

  var options = { panelSelector: '> section'}

  $('body').panelSnap(options);

  //snapp
  $(document).scrollsnap({
      snaps: '.snap',
      proximity: 400
  });

  $(document).scrollsnap({
      direction: 'x',
      snaps: 'section',
      proximity: 1000
  });

  //fader
  $(window).on('scroll', function () {
      $('.section-wrapper').each(function (index, item) {
          $(item).children().each(function (indexChild, child) {
              var st = $(window).scrollTop();
              st = $(window).scrollTop() - $(child).offset().top + 10;
              $(child).css({ 'opacity' : (1 - st/550) });
          });

      });
  });

  //typed
  $('.intro .left .wrap:nth-child(1) h1').on('click', function(){
      $(".intro .left .wrap:nth-child(1) p").typed({
        strings: ["is Jerome Braeken, born in 1991. What will happen next when I add a line."],
        typeSpeed: 0,
        showCursor: false
      });
    });

    $('.intro .left .wrap:nth-child(2) h1').on('click',function(){
      $(".intro .left .wrap:nth-child(2) p").typed({
        strings: ["raised in Maastricht. A city close to both Belgium and Germany."],
        typeSpeed: 0,
        showCursor: false
      });
    });

    $('.intro .right .wrap:nth-child(1) h1').on('click', function(){
      $(".intro .right .wrap:nth-child(1) p").typed({
        strings: ["what I do? Creating things is like a drug to me. It's even worse when people like it."],
        typeSpeed: 0,
        showCursor: false
      });
    });

    $('.intro .right .wrap:nth-child(2) h1').on('click', function(){
      $(".intro .right .wrap:nth-child(2) p").typed({
        strings: ["am studying CMD at Zuyd Hogeschool in Maastricht. Looking for a half year internship, starting from September."],
        typeSpeed: 0,
        showCursor: false
      });
    });
});

</script>