<!-- build:js(app) ./js/scripts.js -->
<script src="{{site.baseurl}}_bower_components/jquery/dist/jquery.js"></script>
<script src="{{site.baseurl}}_bower_components/panelsnap/jquery.panelSnap.js"></script>
<script src="./js/noframework.waypoints.min.js"></script>
<script src="./js/jquery.easing.min.js"></script>
<script src="./js/jquery.scrollstop.js"></script>
<script src="./js/jquery.scrollsnap.js"></script>
<script src="./js/typed.js"></script>
<script src="./js/jrom.js"></script>
<!-- endbuild -->
<script type="text/javascript">

$(document).ready(function() {


  $('#posts .panels').panelSnap();

  $('#home .panels').panelSnap();

  $('#works .panels').panelSnap({
          $menu: $('#works #menu .menu-works')
        });

  //snapp
  $(document).scrollsnap({
      snaps: '.snap',
      proximity: 400,
      latency: 50
  });

  $(document).scrollsnap({
      direction: 'x',
      snaps: 'section',
      proximity: 1000,
      latency: 50
  });

});

</script>