<div class="unicorn">
	<h1>unicorn</h1>
	<div class="inner">
		<div class="infoSides left">
			<div class="spanWrapper">
				<span>hello</span>
				<span>hello2</span>
				<span>hello3</span>
				<span>hello4</span>
				<span>hello5</span>
			</div>
		</div>
		<div class="infoCenter">
			<img src='./img/unicorn.png'>
		</div>
		<div class="infoSides right">
			<div class="spanWrapper">
				<span>hello</span>
				<span>hello2</span>
				<span>hello3</span>
				<span>hello4</span>
				<span>hello5</span>
			</div>
		</div>
	</div>
</div>