
  <div class="panels">
    {% include projects.html %}
  </div>

  <div id="menu">
    <div class="header"><h1>Works</h1></div>
    <div class="menu"> 
      <ul>
        <li>
          <a href data-panel="sentio" class="hover">Sentio</a>
        </li>
      </ul>
      <ul>
        <li>
          <a href data-panel="jokers" class="hover">Jokers Tournament</a>
        </li>
      </ul>  
      <ul>
        <li>
          <a href data-panel="participation" class="hover">Participation</a>
        </li>
      </ul>        
    </div>
  </div>
