

.hobbies {
	height: 100%;
	
	img {
		bottom: 2%;
	}

	p {
		font-family: "adelle",serif;
		font-style: normal;
		font-weight: 400;
	}

	.left {
		span:nth-child(1) p, span:nth-child(5) p{
			font-size: $base-font-size * 2;
		}
		span:nth-child(3) p, span:nth-child(4) p{
			font-size: $base-font-size * 1.4;
		}
	}

	.right {
		span:nth-child(3) p, span:nth-child(4) p{
			font-size: $base-font-size * 2;
		}
		span:nth-child(1) p, span:nth-child(5) p{
			font-size: $base-font-size * 1.4;
		}
	}
		

	span{
		position: absolute;
		opacity: 0;

		&:nth-child(1){
			top: 18%;
			right: 15%;
		}

		&:nth-child(2){
			top: 30%;
			left: 15%; 
		}

		&:nth-child(3){
			bottom: 27%;
			right: 15%;
		}

		&:nth-child(4){
			top: 38%;
			right: 25%;
		}

		&:nth-child(5){
			bottom: 15%;
			left: 20%;
		}

		&:nth-child(6){
			top: 50%;
			left: 35%;
		}
		&:nth-child(7){
			top: 10%;
			left: 10%;
		}
	}


	.design p{
		color: #4A2A2D;
	}
	.food p{
		color: #E2A378;
	}
	.music p{
		color: #6EA087;
	}
	.spare p{
		color: #D1C9A4;
	}
}

@keyframes hobbies-animation {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

#hobbies.active {

	.hobbies {
		span {
			animation: hobbies-animation .4s;
			animation-fill-mode: forwards;
			animation-timing-function: ease-in-out;
		}
		@for $i from 1 through 10 {
		  span:nth-child(#{$i}) {
		    animation-delay:(#{$i*0.05s}); 
		  }
		}
	}
}

