

.hobbies {
	height: 100%;
	
	img {
		bottom: -4%;
	}

	p {
		font-family: "brandon-grotesque",serif;
		font-style: normal;
		font-weight: 400;
	}

	.left {
		span:nth-child(1) p, span:nth-child(5) p{
			font-size: $base-font-size * 2;
		}
		span:nth-child(3) p, span:nth-child(4) p{
			font-size: $base-font-size * 1.4;
		}
	}

	.right {
		span:nth-child(3) p, span:nth-child(4) p{
			font-size: $base-font-size * 2;
		}
		span:nth-child(1) p, span:nth-child(5) p{
			font-size: $base-font-size * 1.4;
		}
	}
		

	span{
		position: absolute;
		opacity: 0;

		&:nth-child(1){
			top: 18%;
			right: 15%;
			color: darken(#D1D6C1, 0%);
		}

		&:nth-child(2){
			top: 30%;
			left: 15%; 
			color: #B2BFB6;
		}

		&:nth-child(3){
			bottom: 27%;
			right: 15%;
			color: #8EA4AA;
		}

		&:nth-child(4){
			top: 38%;
			right: 25%;
			color: #A5B5B1;
		}

		&:nth-child(5){
			bottom: 15%;
			left: 20%;
			color: #7893A3;
		}

		&:nth-child(6){
			top: 50%;
			left: 35%;
			color: darken(#97ABAC, 10%);
		}
		&:nth-child(7){
			top: 10%;
			left: 10%;
			color: #FEFAD0;
		}
	}
}

@keyframes hobbies-animation {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

#hobbies.active {

	.hobbies {
		span {
			animation: hobbies-animation .4s;
			animation-fill-mode: forwards;
			animation-timing-function: ease-in-out;
		}
		@for $i from 1 through 10 {
		  span:nth-child(#{$i}) {
		    animation-delay:(#{$i*0.05s}); 
		  }
		}
	}
}

