
.intro {
	height: 100%;

	img {
		margin-bottom: 5vh;
	}

	.inner h1 {
		cursor: pointer;
		transition: all .2s ease-in-out;
		&:hover {
			position: relative;
			text-shadow: 
				#c5bfb7 1px 1px,
				#c5bfb7 2px 2px,
				#c5bfb7 3px 3px;
			top: -2px;
			left: -2px;
		}
	}

	.spanWrapper {
		width: 60%;
		height: 100%;
	}

	.wrap {
		height: 40%;
	}

	h1 {
		font-family: le-monde-courrier-std-2;
		line-height: $base-line-height * .75;
	}

	p {
		margin-left: .2%;
		font-size: $base-font-size * 1.2;
		font-family: "brandon-grotesque",sans-serif;
		font-style: normal;
		font-weight: 400;
	}
}