
.intro {
	img {
		margin-bottom: 5vh;
	}

	.inner {
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.infoSides {
		width: 37vw;
		height: 100%;
		display: inline-block;
		position: relative;
		vertical-align: top;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.infoCenter {
		height: 100%;
		align-items: flex-end; 
		display: flex; 
		justify-content: center; 
	}

	.spanWrapper {
		width: 60%;
	}

	h1 {
		font-family: adelle;
		font-size: $base-font-size * 3;
		line-height: $base-line-height * .75;
	}

	p {
		margin-left: .2vw;
		font-size: $base-font-size * 1.2;
		font-family: "brandon-grotesque",sans-serif;
		font-style: normal;
		font-weight: 400;
	}
}