
.intro {
	
	img {
		margin-bottom: 5vh;
	}

	.inner {
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.infoSides {
		width: 37vw;
		height: 100%;
		display: inline-block;
		position: relative;
		vertical-align: top;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.infoCenter {
		height: 100%;
		align-items: flex-end; 
		display: flex; 
		justify-content: center; 
	}

	.spanWrapper {
		width: 60%;
	}

	p {
		margin: 20vh 0;
		font-size: $base-font-size * 1.2;

		&:first-line {
			font-family: adelle;
			font-size: $base-font-size * 3;
			line-height: $base-line-height * .75;
		}
	}
}