/**
 * Site
 */

@include media-query($on-mobile) {

    div#mobile {
      visibility: visible;
    }
    .view {
      display: none;
    }
}

@include media-query-portrait($on-palm) {

    div#portrait {
      visibility: visible;    
    }
    .view {
      display: none;
    }
}

@include media-query-portrait($on-laptop) {

    div#portrait {
      visibility: visible;
    }
    .view {
      display: none;
    }
}

#portrait {
    position: fixed;
    z-index: 999;
    width: 100vw;
    height: 100vh;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    visibility: hidden;
    .wrapper {
      width: 60%;
      height: 80%;
      display: flex;
      align-items: center;
      justify-content: center;
        p {
            color: white;
            font-size: $base-font-size * 3;
            &.horizontal {
                display: table;
            }
            &.vertical {
              -ms-writing-mode: tb-lr;
              -webkit-writing-mode: vertical-lr;
              -moz-writing-mode: vertical-lr;
              -ms-writing-mode: vertical-lr;
              writing-mode: vertical-lr;
              font-size: $base-font-size * 2;

            }
        }
    }
}

#mobile {
    position: fixed;
    z-index: 999;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: black;
    visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    .wrap {
      position: absolute;
      text-align: center;
      left: 50%;
      top: 40%;
      transform: translate(-50%, -40%);
        p {
            color: white;
            font-size: $base-font-size * 1.2;
            display: block;
            width: 100%;
            &:nth-child(2) {
              margin-top: 20%;
            }
        }
    }
}




