/**
 * Site
 */

@include media-query($on-mobile) {

    body {
      display: none;
    }
}

@include media-query-portrait($on-palm) {

    body {
      display: none;
    }
}

@include media-query-portrait($on-laptop) {

    body {
      display: none;
    }
}




