
#menu {  
  width: 25%;
  height: 100%;
  background-color: $darken;
  .header{
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    h1 {
      font-family: brandon-grotesque;
      font-weight: 100;
      text-align: center;
    }
  }
  .menu {
    li {
      position: relative;
      padding: 1vh;
      list-style: none;
      display: flex;
      align-items: center;
      a {
          color: white;
      }
      &:visited {
        color: white;
      }
    }
  }
}

