#posts {

  .panels {
    float: right;
    position: absolute;
    overflow: scroll;
    width: 75%;
    height: 100%;
    display: inline-block;
  }
  #menu {  
    float: left;
    .header {
      padding-left: 15%;
      justify-content: flex-start;
    }
  }
  .menu {
    padding-left: 14%;
    li {
      justify-content: flex-start;
    }
  }
}