.project {
  height: 100%;
  width: 100%;

  video, img {
      border-radius: 5px;
      margin: auto;
      position: absolute;
      top: 0; left: 0; bottom: 0; right: 0;
      width: 30% !important;
      height: auto !important;
  }

  .project-content {
    position: relative;
    height: 100%;
    z-index: 2;
    display: flex;
    align-items: flex-end;
    .project-info { 
      position: relative;
      color: #0E3156;
      width: 100%;
      display: flex;
      align-items: flex-end;
      justify-content: center;
      text-align: center;   
      display: inline-block;
      bottom: 5%;
      a {
        width: 50px;
        height: 50px;
        margin-bottom: 1.5%;
        border-radius: 25px;
        display: inline-block;
        transition: 0.2s;
        border: 1px solid white;
        &:hover {
          color: #0E3156 !important;
          transition: .3s;
        }
        i {
          line-height: 1.6;
        }
      }
    }
  }
}

@keyframes workSlideInL {
  0% {
    opacity: 0;
    margin-left: -5%;
  }

    100% {
      opacity: 1;
      margin-left: 30%;
  }
}

@keyframes workSlideInR {
  from {
    opacity: 0;
    margin-right: -5%;
  }

    to {
      opacity: 1;
      margin-right: 30%;
  }
}

@keyframes workSlideInTop {
  from {
    opacity: 0;
    margin-top: -5%;
  }

    to {
      opacity: 1;
      margin-top: 30%;
  }
}










