.project {
  height: 100%;

  #participation {
    img {
      background-size: cover;
    }
  }

  .project-content {
    position: relative;
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    background-image: url("../img/sentio_logo.png");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 10vw;
    text-align: center;
    .project-info {    
      p {

      }
    }
  }
}
