.section-wrapper {
	position: absolute;
	width: 100%;
	height: 95vh;
	
	.sectionHeader{
		display: flex;
		align-items: center;
		justify-content: center;
    	height: 15vh;
		h1 {
			font-family: brandon-grotesque;
			font-weight: 100;
    		text-align: center;
    		font-size: $base-font-size * 3;
		}
	}
	img {
		margin-top: 5vh;
		width: 15vw;
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
	h2{
		font-family: aleoLight;
		font-size: $base-font-size *2;
	}
	p {
		font-family: aleoRegular;
	}
	//h1 is 9vh dus bijft van de 95vh nog 86vh over
	.inner {
		height: 80vh;
		width: 100vw;
		position: relative;
	}
}