// .section-wrapper {
// 	position: absolute;
// 	width:100%;
// 	height:auto;
// 	min-height:100%;
// 	overflow: scroll;
.panels {
	position: absolute;
	overflow: scroll;
	border: 1px solid black;
	width: 50vw;
	height: 50vh;
}

section {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background: #1abc9c;
  padding: 50px;
  border: 1px dotted black;

	.sectionHeader{
		display: flex;
		align-items: center;
		justify-content: center;
    	height: 15%;
		h1 {
			font-family: brandon-grotesque;
			font-weight: 100;
    		text-align: center;
    		font-size: $base-font-size * 3;
		}
	}
	img {
		margin-top: 5%;
		width: 15%;
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
	h2{
		font-family: aleoLight;
		font-size: $base-font-size *2;
	}
	p {
		font-family: aleoRegular;
	}
	//h1 is 9vh dus bijft van de 95vh nog 86vh over
	.inner {
		height: 80%;
		width: 100%;
		position: relative;
	}
}