@keyframes slideInL {
	0% {
		opacity: 0;
		margin-left: -5vw;
 	}

  	100% {
  		opacity: 1;
  		margin-left: 20vw;
	}
}

@keyframes slideInR {
	from {
		opacity: 0;
		margin-right: -5vw;
 	}

  	to {
  		opacity: 1;
  		margin-right: 20vw;
	}
}

section .unicorn {

	img {
		margin-top: 1vh;
	}

	.inner {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.infoSides {
		width: 37vw;
		height: 100%;
		display: inline-block;
		position: relative;
		vertical-align: top;
		display: flex;
		align-items: center;
		justify-content: center;

		.spanWrapper {
		}

		span {
			display: block;
			margin-bottom: 8vh;
			opacity: 0;
			&:nth-child(1){
				animation-delay: .1s;
			}
			&:nth-child(2){
				animation-delay: .2s;
			}
			&:nth-child(3){
				animation-delay: .4s;
			}
			&:nth-child(4){
				animation-delay: .7s;
			}
			&:nth-child(5){
				animation-delay: 1.1s;
			}
			&:nth-child(6){
				animation-delay: 1.6s;
			}
		}
	}

	.infoCenter {
		width: 25vw;
		height: 100%;
		display: inline-block;
	}
}

.animateLeft {
	animation: slideInL 1.4s;
	animation-fill-mode: forwards;
	animation-timing-function: ease-in-out;
	margin-left: 20vw;
}

.animateRight {
	text-align: right;
	animation: slideInR 1.4s;
	animation-fill-mode: forwards;
	animation-timing-function: ease-in-out;
	margin-right: 20vw;
}





