@keyframes slideInL {
	0% {
		opacity: 0;
		margin-left: -5vw;
 	}

  	100% {
  		opacity: 1;
  		margin-left: 20vw;
	}
}

@keyframes slideInR {
	from {
		opacity: 0;
		margin-right: -5vw;
 	}

  	to {
  		opacity: 1;
  		margin-right: 20vw;
	}
}

section .unicorn {

	img {
		margin-top: 1vh;
	}

	//h1 is 9vh dus bijft van de 95vh nog 86vh over
	.unicorn-inner {
		height: 86vh;
		width: 100vw;
	}

	.infoSides {
		width: 37vw;
		height: 100%;
		display: inline-block;
		position: relative;
		vertical-align: top;

		.wrapperInvisible {
			visibility: hidden;
		}

		span {
			display: block;
			margin-top: 8vh;
		}
	}

	.infoCenter {
		width: 25vw;
		height: 100%;
		display: inline-block;
	}
}

.animateLeft {
	animation: slideInL 1.4s;
	animation-timing-function: ease-in-out;
	margin-left: 20vw;
	visibility: visible;
}

.animateRight {
	text-align: right;
	animation: slideInR 2s;
	margin-right: 20vw;
	visibility: visible;
}





