#works {

  .panels {
    float: left;
    position: absolute;
    overflow: scroll;
    width: 75%;
    height: 100%;
    display: inline-block;
  }
  #menu {  
    float: right;
    .header {
      justify-content: flex-end;
      padding-right: 15%;
    }
  }
  .menu {
    padding-right: 14%;
    li {
      justify-content: flex-end;
    }
  }
}
